@use "variables" as *;
@mixin button {
  font-size: 0.875rem;
  padding: 1rem 4.5rem;
  white-space: nowrap;
  border-radius: 30px;
  border: none;
  font-weight: $bold;
  color: white;
  cursor: pointer;
  background:  $red;
  transition: background 0.3s ease;
  &:hover {
    background: lighten($red, 15);
  }
}
