.techCard {
  background: #ffffff;
  box-shadow: -6px 3px 28px #d9d9d9, 3px 3px 28px #ffffff;
  padding: 22px;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  .techName {
    position: absolute;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 5px;
    text-align: center;
    color: #000;
    transform: translateX(50%);
    right: 50%;
    bottom: -55px;
    transition: 0.3s bottom;
  }

  &:hover {
    .techName {
      bottom: 40%;
    }
  }
}

.slider {
  margin-top: 5rem;
  h1 {
    margin: 0 50px;
    max-width: 20ch;
    font-size: 2rem;
  }
}

.imageWrapper {
  display: flex;
  align-items: center;
  height: 16rem;
  padding: 1rem;
}
