// Colors
$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$error: hsl(0, 100%, 63%);
$red : rgba(159, 36, 51, 1);
// Background Colors
$introAndEmailBG: hsl(217, 28%, 15%);
$mainBG: hsl(218, 28%, 13%);
$footerBG: hsl(216, 53%, 9%);
$reviewsBG: hsl(219, 30%, 18%);
$dark : rgba(2, 0, 36, 1);
$white: hsl(0, 0%, 100%);

// Font Weights
$bold: 700;
$normal: 400;
